<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里namespace必须是实体类路径全名 -->
<mapper namespace="com.xiaobaozi.dataSystem.essay.pojo.EssayRelationDictionary">
	<!-- 这里的id必须和接口中的方法名相同，不然运行的时候也要报错 -->
	<!-- 返回实体对象 -->
	<resultMap type="com.xiaobaozi.dataSystem.essay.pojo.EssayRelationDictionary" id="pushEssayRelationMap">
		<result property="dictionaryId" column="dictionary_id" />
		<result property="essayId" column="essay_id" />

	</resultMap>
	
	
	<select id="selectRelationByEssayId" parameterType="string" resultMap="pushEssayRelationMap">
		select * from essay_relation_dictionary where essay_id=#{essayId}
	</select>
	
	

</mapper>