<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里namespace必须是实体类路径全名 -->
<mapper namespace="com.xiaobaozi.dataSystem.essay.pojo.EssayLeavingMsg">
	<!-- 这里的id必须和接口中的方法名相同，不然运行的时候也要报错 -->
	<!-- 返回实体对象 -->
	<resultMap type="com.xiaobaozi.dataSystem.essay.pojo.EssayLeavingMsg" id="essayLeavingMsgMap">
		<result property="id" column="id" />
		<result property="mediaId" column="media_id" />
		<result property="mediaName" column="media_name" />
		<result property="userId" column="user_id" />
		<result property="content" column="content" />
		<result property="createTime" column="create_time" />
		<result property="praiseNum" column="praise_num" />
		<result property="reply" column="reply" />
		<result property="replyTime" column="reply_time" />
		<result property="status" column="status" />
        <association property="user" column="user_id" select="com.xiaobaozi.dataSystem.registerUser.pojo.RegisterUser.selectByUserId"/>
	</resultMap>




	<insert id="insert" parameterType="com.xiaobaozi.dataSystem.essay.pojo.EssayLeavingMsg">
		insert into
		essay_leavingMsg(id,media_id,media_name,user_id,content,create_time,praise_num,reply,reply_time,status)
		values(#{id},#{mediaId},#{mediaName},#{userId},#{content},sysdate(),#{praiseNum},#{reply},#{replyTime},#{status})
	</insert>



	<select id="selectById" parameterType="string" resultMap="essayLeavingMsgMap">
		select * from essay_leavingMsg where id=#{id}
	</select>

	<!-- 统计总数查询 -->
	<select id="countEssayLeavingMsg" resultType="int" parameterType="com.xiaobaozi.dataSystem.essay.search.EssayLeavingMsgSearch">
		select count(id) from essay_leavingMsg where 1=1
		<include refid="getListByPage_Where_Clause" />
	</select>
	<!-- 分页查询记录 -->
	<select id="getListByPage" resultMap="essayLeavingMsgMap" parameterType="com.xiaobaozi.dataSystem.essay.search.EssayLeavingMsgSearch">
		select * from essay_leavingMsg where 1=1
		<include refid="getListByPage_Where_Clause" />
		order by create_time desc
	</select>

	<!-- 查询条件 -->
	<sql id="getListByPage_Where_Clause">
		<trim suffixOverrides=",">

		</trim>
	</sql>
	
	<!-- 更新记录 -->
	<update id="updateByMap" parameterType="map">
		update essay_leavingMsg
		<include refid="update_Clause" />
		WHERE id=#{id}
	</update>


	<sql id="update_Clause">
		<set>
			<if test="reply != null and ''!=reply">
				reply =#{reply},
			</if>
			<if test="status != null and ''!=status">
				status=#{status},
			</if>
			<if test="replyTime != null and ''!=replyTime">
				reply_time=#{replyTime},
			</if>
		</set>
	</sql>

</mapper>