<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- 基础service -->
	<bean name="genericService" class="com.xiaobaozi.dataSystem.commons.service.impl.GenericServiceImpl" abstract="true"></bean>
<!-- 	<bean name="exceptionService" class="com.xiaobaozi.dataSystem.commons.exception.service.impl.ExceptionServiceImpl" parent="genericService">
		<property name="exceptionHandle" ref="exceptionHandle"/>
	</bean> -->
       
  
</beans>