@charset "gb2312";

/*用户管理*/
#function_result_grid{
	width:100%;
}
#center_content_panel{
	padding:10px;
}
#result_tb{
	padding:5px;
	height:auto
}
#add_function_win{
	padding:5px;
}

.function_manage_search table{
	width:100%;
	border:0;
}

.form_one {
	border: solid 1px #ccc;
	width: 170px;
}

.query {
	width: 66px;
	height: 25px;
	background: url(../../../images/no_txt/query_bj.png) no-repeat;
	border: none;
	color: #fff;
}