<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里namespace必须是实体类路径全名 -->
<mapper namespace="com.xiaobaozi.dataSystem.product.relation.LabelRelation">
	<!-- 这里的id必须和接口中的方法名相同，不然运行的时候也要报错 -->
	<!-- 返回实体对象 -->
	<resultMap type="com.xiaobaozi.dataSystem.product.relation.LabelRelation" id="labelRelationMap">
		<result property="productId" column="product_id" />
		<result property="labelValue" column="label_value" />
		<result property="labelId" column="label_id" />
	</resultMap>

	<insert id="insert" parameterType="com.xiaobaozi.dataSystem.product.relation.LabelRelation">
		insert into label_relation(product_id,label_value,label_id,create_time,sort)
		values(#{productId},#{labelValue},#{labelId},sysdate(),#{sort})
	</insert>

	<delete id="deleByProductId" parameterType="string">
		delete from label_relation where product_id=#{productId}
	</delete>

	<select id="selectByProductId" parameterType="string" resultMap="labelRelationMap">
		select * from label_relation where product_id=#{productId} order by sort,create_time asc
	</select>

</mapper>