<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里namespace必须是实体类路径全名 -->
<mapper namespace="com.xiaobaozi.dataSystem.product.relation.OtherGuaranteeRelation">
	<!-- 这里的id必须和接口中的方法名相同，不然运行的时候也要报错 -->
	<!-- 返回实体对象 -->
	<resultMap type="com.xiaobaozi.dataSystem.product.relation.OtherGuaranteeRelation" id="otherGuaranteeRelationMap">
		<result property="productId" column="product_id" />
		<result property="title" column="title" />
		<result property="price" column="price" />
		<result property="guaranteeIntroduction" column="guarantee_introduction" />
		<result property="guaranteeDetail" column="guarantee_detail" />
	</resultMap>

	<insert id="insert" parameterType="com.xiaobaozi.dataSystem.product.relation.OtherGuaranteeRelation">
		insert into other_guarantee_relation(product_id,title,price,guarantee_introduction,guarantee_detail,create_time,sort)
		values(#{productId},#{title},#{price},#{guaranteeIntroduction},#{guaranteeDetail},sysdate(),#{sort})
	</insert>

	<select id="selectByProductId" parameterType="string" resultMap="otherGuaranteeRelationMap">
		select * from other_guarantee_relation where product_id=#{productId} order by sort,create_time asc
	</select>

	<delete id="deleByProductId" parameterType="string">
		delete from other_guarantee_relation where product_id=#{productId}
	</delete>

</mapper>